<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Go Read" content="">

    <title>GO Read!</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="assets/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/lib/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="assets/lib/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="/assets/css/new-age.min.css" rel="stylesheet">

    <style>
/* The Modal (background) */
/*.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place 
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}*/

/* Modal Content */
.modal-content {
    position: fixed;
    /*height: 500;*/
    overflow: auto;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fdcc52;
    text-decoration: none;
    cursor: pointer;
}

/* The Add Book Button */
.add-book {
    color: #00ff00;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.add-book:hover,
.add-book:focus {
    color: #fdcc52;
    /*text-decoration: none;*/
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    /*background-color: #5cb85c;*/
    background-color: #00ff00;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    color: black;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
</style>


</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                
                {{#if logged_in}}
                    {{#if is_reader}}
                        <a class="navbar-brand page-scroll" href="#page-top">GO Read!</a>
                    {{else if is_parent}}
                        <a class="navbar-brand page-scroll" href="#page-top">GO Read!</a>
                    {{else}}
                        <a class="navbar-brand page-scroll" href="#page-top">My Classes!</a>
                    {{/if}}
                    <a class="navbar-brand page-scroll" href="/users/sign-out">Sign Out ({{this.user_email}})</a>
                {{else}}
                  <a class="navbar-brand page-scroll" href="/users/sign-in">SIGN IN</a>
                  <a class="navbar-brand page-scroll" href="/users/new">REGISTER</a>
                {{/if}}


            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    {{#if is_reader}}
                        <li>
                            <a class="page-scroll" href="#goRead">GO Read!</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#myBooks">My Books</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#myProgress">My Progress</a>
                        </li>
                    {{else if is_parent}}
                        <li>
                            <a class="page-scroll" href="#goParent">My Kids</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#kidsBooks">Kid's Books</a>
                        </li>
                       <li>
                            <a class="page-scroll" href="#kidsProgress">Kid's Progress</a>
                        </li>
                    {{else}}
                        <li>
                            <a class="page-scroll" href="#reader">Reader</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#parent">Parent</a>
                        </li>

                        <li>
                            <a class="page-scroll" href="#teacher">Teacher</a>
                        </li>

                    {{/if}}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {{{ body }}}

    <footer>
        <div id="footernum">
            <img src="/assets/images/goReadbgblack.png" alt="GO Read!" class="img-responsive">
            <p >&copy; 2017</p>
        </div>
    </footer>

<!-- jQuery -->
    <!-- <script src="/assets/lib/jquery/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/assets/js/new-age.min.js"></script>

    <script src="/assets/js/parent.js"></script>



</body>

</html>
